USE [LHJanDb]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckEmpCodeExists]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  Function [dbo].[CheckEmpCodeExists]
(@empCode nvarchar(30))
Returns int
As
Begin
          Declare @count int;
          select @count= Count(Id) From Employees Where EmpCode=@empCode;
          return @count;
          
          
End
GO
/****** Object:  UserDefinedFunction [dbo].[CheckUserExistsByEmail]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  Function [dbo].[CheckUserExistsByEmail]
(@email nvarchar(100))
Returns int
As
Begin
          Declare @count int;
          select @count= Count(Id) From Users Where Email=@email;
          return @count;
          
          
End
GO
/****** Object:  UserDefinedFunction [dbo].[CheckUserNameExists]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  Function [dbo].[CheckUserNameExists]
(@userName nvarchar(50))
Returns int
As
Begin
          Declare @count int;
          select @count= Count(Id) From Users Where UserName=@userName;
          return @count;
          
          
End
GO
/****** Object:  UserDefinedFunction [dbo].[GetLastEmpcode]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  Function [dbo].[GetLastEmpcode]()
Returns nvarchar(30)
As
Begin
         Declare @LastEmpCode nvarchar(30)
         Select Top 1 @LastEmpCode=EmpCode from EMPLOYEES Order By CreatedOn desc
         return @LastEmpCode
          
          
End
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CourseName] [nvarchar](100) NULL,
	[CourseCode] [nvarchar](20) NULL,
	[DeptId] [uniqueidentifier] NULL,
	[Fees] [decimal](18, 0) NULL,
	[Duration_Years] [int] NULL,
 CONSTRAINT [pk_course_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[HodId] [uniqueidentifier] NULL,
	[Location] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[Name] [nvarchar](100) NULL,
	[EmpCode] [nvarchar](30) NULL,
	[Gender] [int] NULL,
	[Position] [nvarchar](30) NULL,
	[Salary] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[SemesterName] [nvarchar](50) NULL,
	[CourseId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [int] NULL,
	[DepartmentId] [uniqueidentifier] NULL,
	[Marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[SubjectCode] [nvarchar](30) NULL,
	[SubjectName] [nvarchar](50) NULL,
	[SemesterId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04-04-2026 12:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](100) NULL,
	[UserRole] [int] NULL,
	[UserStatus] [int] NULL,
	[Attempts] [int] NULL,
	[Password] [nvarchar](100) NULL,
	[ConfirmPassword] [nvarchar](100) NULL,
	[Salt] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Courses] ([Id], [CreatedOn], [CourseName], [CourseCode], [DeptId], [Fees], [Duration_Years]) VALUES (N'3327d465-77a4-482f-9058-0a1d4d5bbd94', CAST(N'2026-02-10T09:23:39.003' AS DateTime), N'Bachelor Of Science in Mathematics', N'BSC-MATH', N'13fd09b2-6bcc-4bf3-a39d-80bf8f30a4c6', CAST(100000 AS Decimal(18, 0)), 3)
INSERT [dbo].[Courses] ([Id], [CreatedOn], [CourseName], [CourseCode], [DeptId], [Fees], [Duration_Years]) VALUES (N'd9c973e3-123d-4280-ae3a-1298f98f5346', CAST(N'2026-02-10T09:11:28.150' AS DateTime), N'Master Of Business Administration', N'MBA', N'78cf6da4-df31-4fe9-bf5b-857d03e3856e', CAST(110000 AS Decimal(18, 0)), 2)
INSERT [dbo].[Courses] ([Id], [CreatedOn], [CourseName], [CourseCode], [DeptId], [Fees], [Duration_Years]) VALUES (N'826dcd1e-f1ee-4960-b992-1e6e17ba2efc', CAST(N'2026-02-10T08:02:23.437' AS DateTime), N'Master Of Computer Applications', N'MCA', N'6741b850-b56f-4b7c-8e1f-a40f052d0b2e', CAST(120000 AS Decimal(18, 0)), 2)
GO
INSERT [dbo].[Departments] ([Id], [Name], [HodId], [Location]) VALUES (N'40432ad8-845c-4e27-a166-1d5fdaf281e9', N'Production', N'dfbfc719-68c8-4316-b758-fe17e503227e', N'Building A,Floor 2')
INSERT [dbo].[Departments] ([Id], [Name], [HodId], [Location]) VALUES (N'ad48b55f-9332-41f8-b40f-1d69f771e37e', N'Marketing', N'a2f0ddb2-a9d2-43a6-94aa-7bc9a9a0a54f', N'Building C,Floor 1')
INSERT [dbo].[Departments] ([Id], [Name], [HodId], [Location]) VALUES (N'd0574552-b614-4e0b-a2bf-6278e45b0a59', N'HR', N'88729880-13d1-4870-83a1-7c450693d393', N'Building A,Floor 1')
GO
INSERT [dbo].[Employees] ([Id], [CreatedOn], [Name], [EmpCode], [Gender], [Position], [Salary]) VALUES (N'7f7e4f83-5517-4f0c-8d6a-0371f77de669', CAST(N'2026-02-06T09:15:24.763' AS DateTime), N'Tabish  ', N'Emp106', 2, N'Assistant-Lecturer', CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[Employees] ([Id], [CreatedOn], [Name], [EmpCode], [Gender], [Position], [Salary]) VALUES (N'147d8249-255c-42a8-9f5f-0cb85a1bd00c', CAST(N'2026-02-06T15:13:25.333' AS DateTime), N'Daim ', N'Emp109', 1, N'HR-Manager', CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[Employees] ([Id], [CreatedOn], [Name], [EmpCode], [Gender], [Position], [Salary]) VALUES (N'53d2a605-0a33-4935-9aa5-1d0062779788', CAST(N'2026-02-03T17:25:48.670' AS DateTime), N'Mohammad Duhak', N'Emp101', 1, N'Cyber-Security-Engineer', CAST(50000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Semesters] ([Id], [CreatedOn], [SemesterName], [CourseId]) VALUES (N'b3dac3a8-3a97-4aa0-88a8-00f2e6b75448', CAST(N'2026-02-12T10:02:14.250' AS DateTime), N'BCA-4th-Sem', N'f06df8a4-ffa5-4bd3-99dd-490804c5758e')
INSERT [dbo].[Semesters] ([Id], [CreatedOn], [SemesterName], [CourseId]) VALUES (N'a25d1a35-2dac-43c1-8d4d-0c7e49b9431c', CAST(N'2026-02-12T10:01:50.543' AS DateTime), N'BCA-2nd-Sem', N'f06df8a4-ffa5-4bd3-99dd-490804c5758e')
INSERT [dbo].[Semesters] ([Id], [CreatedOn], [SemesterName], [CourseId]) VALUES (N'a11b29cd-1a2f-455a-9e02-10012d6d91f0', CAST(N'2026-04-04T12:04:30.403' AS DateTime), N'MSC-CHEMISTRY-1st-Sem', N'fa39cd0f-809e-410e-bcb7-61a6dc91e87e')
GO
INSERT [dbo].[Students] ([Id], [CreatedOn], [Name], [Gender], [DepartmentId], [Marks]) VALUES (N'4b5b86fe-f467-466b-87eb-1615a6f3eec4', CAST(N'2026-02-06T16:32:38.580' AS DateTime), N'Ismail', 1, N'6741b850-b56f-4b7c-8e1f-a40f052d0b2e', 485)
INSERT [dbo].[Students] ([Id], [CreatedOn], [Name], [Gender], [DepartmentId], [Marks]) VALUES (N'792e0fdf-6935-468f-b7a6-4f868d8aded6', CAST(N'2026-02-06T16:28:51.110' AS DateTime), N'Maheen Muzaffar', 2, N'13fd09b2-6bcc-4bf3-a39d-80bf8f30a4c6', 478)
INSERT [dbo].[Students] ([Id], [CreatedOn], [Name], [Gender], [DepartmentId], [Marks]) VALUES (N'33c1afc2-7805-4902-8cd3-676c7903d153', CAST(N'2026-02-06T16:36:56.793' AS DateTime), N'Muhammad', 1, N'ea6af9b5-d0e3-473c-b252-b43ff1ebf2c5', 460)
GO
INSERT [dbo].[Subjects] ([Id], [CreatedOn], [SubjectCode], [SubjectName], [SemesterId]) VALUES (N'fb7f9469-fb43-4aee-b402-27a598759449', CAST(N'2026-02-18T09:53:19.357' AS DateTime), N'HR-223', N'Human Resource Management', N'88d551ba-478a-433c-9ad7-7b39fdf0383b')
INSERT [dbo].[Subjects] ([Id], [CreatedOn], [SubjectCode], [SubjectName], [SemesterId]) VALUES (N'b3ab7d53-2366-4596-a209-595a2bb26b15', CAST(N'2026-02-17T08:53:19.253' AS DateTime), N'DB-101', N'Database', N'b3dac3a8-3a97-4aa0-88a8-00f2e6b75448')
INSERT [dbo].[Subjects] ([Id], [CreatedOn], [SubjectCode], [SubjectName], [SemesterId]) VALUES (N'290e0299-2a3f-4712-a7fb-6047a91dd2c7', CAST(N'2026-02-17T08:55:55.197' AS DateTime), N'ACCNT-200', N'Accountancy', N'9346868a-f691-4ab8-b96a-dcc208093781')
GO
INSERT [dbo].[Users] ([Id], [CreatedOn], [UserName], [Email], [ContactNo], [UserRole], [UserStatus], [Attempts], [Password], [ConfirmPassword], [Salt]) VALUES (N'7f7e4f83-5517-4f0c-8d6a-0371f77de669', CAST(N'2026-02-06T09:15:24.763' AS DateTime), N'tabish1', N'tabish@gmail.com', N'9419511754', 4, 4, 3, N'tabish123', N'tabish123', N'Salt123')
INSERT [dbo].[Users] ([Id], [CreatedOn], [UserName], [Email], [ContactNo], [UserRole], [UserStatus], [Attempts], [Password], [ConfirmPassword], [Salt]) VALUES (N'147d8249-255c-42a8-9f5f-0cb85a1bd00c', CAST(N'2026-02-06T15:13:25.333' AS DateTime), N'daim1', N'daim@gmail.com', N'7889511765', 4, 4, 3, N'daim123', N'daim123', N'Salt123')
INSERT [dbo].[Users] ([Id], [CreatedOn], [UserName], [Email], [ContactNo], [UserRole], [UserStatus], [Attempts], [Password], [ConfirmPassword], [Salt]) VALUES (N'4b5b86fe-f467-466b-87eb-1615a6f3eec4', CAST(N'2026-02-06T16:32:38.580' AS DateTime), N'ismail1', N'ismail@gmail.com', N'9419899412', 3, 4, 3, N'ismail123', N'ismail123', N'Salt123')
GO
/****** Object:  Index [uq_department_hodId]    Script Date: 04-04-2026 12:25:01 ******/
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [uq_department_hodId] UNIQUE NONCLUSTERED 
(
	[HodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053485A3AAA8]    Script Date: 04-04-2026 12:25:01 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F2845671F8B749]    Script Date: 04-04-2026 12:25:01 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Semesters] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Semesters] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((3)) FOR [Attempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Salt123') FOR [Salt]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([DeptId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([HodId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[spDeleteCourse]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spDeleteCourse]
@id uniqueidentifier
As
Begin

            Begin Try

               Begin Tran



                      Declare @SemesterCount int;
                      Select @SemesterCount= Count(Id) From Semesters Where CourseId=@id;
                      if(@SemesterCount>0)
                      begin 
                          Update Semesters set CourseId=null   where CourseId=@id;
                      end

                       Delete From Courses Where Id=@id

                Commit Tran;

            End Try


            Begin Catch
                    Rollback Tran;
            End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteDepartment]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spDeleteDepartment]
@id uniqueidentifier
As
Begin

            Begin Try

               Begin Tran


                     Declare @Studentscount int;
                     Select @Studentscount= Count(Id) From Students Where DepartmentId=@id;
                     if(@Studentscount>0)
                      begin 
                          Update students set DepartmentId=null   where DepartmentId=@id;
                      end



                      Declare @CoursesCount int;
                      Select @CoursesCount= Count(Id) From Courses Where DeptId=@id;
                      if(@CoursesCount>0)
                      begin 
                          Update Courses set DeptId=null   where DeptId=@id;
                      end

                       Delete From Departments Where Id=@id

                Commit Tran

            End Try


            Begin Catch
                    Rollback;
            End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteSemester]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spDeleteSemester]
@id uniqueidentifier
As
Begin

     Begin Try
              Begin Tran

              Declare @subjectCount int
              Select @subjectCount=Count(Id) From Subjects Where SemesterId=@id
              if(@subjectCount>0)
              begin
                   Update Subjects Set SemesterId=null Where semesterId=@id;
              end
                    Delete from Semesters Where Id=@id;
              Commit Tran
     End Try


     Begin Catch
              Rollback  Tran
     End Catch
End


GO
/****** Object:  StoredProcedure [dbo].[spDeleteSubject]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spDeleteSubject]
@id uniqueidentifier
As
Begin
       Begin Try

            Begin Tran
                     Delete From Subjects Where Id=@id;
            Commit Tran

       End Try

       Begin Catch
           RollBack Tran
       End Catch
End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUser]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spDeleteUser]
@id uniqueidentifier,@userRole int
As
Begin

     Begin Try

             Begin Transaction

                if( @userRole=4)
                begin

                      Declare @count int;
                      Select @count= Count(Id) From Departments Where HodId=@id;

                      if(@count>0)
                      begin 
                          Update Departments set hodId=null   where HodId=@id;
                      end

                      Delete From Employees Where Id=@id;
                end



                 else if (@userRole=3)
                  begin
                      Delete From Students Where Id=@id;
                  end
                  


                  Delete From Users Where Id=@id;
                  Commit Transaction
     End Try

     Begin Catch
            Rollback Transaction
     End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[SpInsertCourses]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SpInsertCourses]
@courseName nvarchar(100),@courseCode nvarchar(20),@deptId uniqueidentifier,@fees decimal,@years int
As
Begin
             Insert Into Courses(CourseName,CourseCode,DeptId,Fees, Duration_Years) Values
             (@courseName,@courseCode,@deptId,@fees,@years);

End
GO
/****** Object:  StoredProcedure [dbo].[spInsertDepartment]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[spInsertDepartment]
@name nvarchar(50),@hodId uniqueidentifier,@location nvarchar(100)
As
Begin
    Insert Into Departments ([Name],HodId,[Location])    Values(@name,@hodId,@location);

End
GO
/****** Object:  StoredProcedure [dbo].[spInsertSemester]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spInsertSemester]
@name nvarchar(50),@courseId uniqueidentifier
As
Begin
     Insert Into Semesters (SemesterName,CourseId) Values (@name,@courseId);
End
GO
/****** Object:  StoredProcedure [dbo].[spInsertSubject]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spInsertSubject]
@subCode nvarchar(30),@subName nvarchar(50),@semesterId uniqueidentifier
As
Begin
               Insert Into Subjects(SubjectCode,SubjectName,SemesterId) Values(@subCode,@subName,@semesterId)

End
GO
/****** Object:  StoredProcedure [dbo].[spInsertUserAsEmployee]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spInsertUserAsEmployee]
@id uniqueidentifier,
@name nvarchar(100),
@empCode nvarchar(30),
@salary decimal,
@gender int,
@position  nvarchar(30),

@username nvarchar(50),
@email nvarchar(100),
@contactNo nvarchar(100),
@userRole int,
@userStatus int,
@password nvarchar(100),
@confirmPassword nvarchar(100)
As
Begin
 
 
     Begin Try
   
        Begin Transaction

             Insert Into Users (Id,UserName,Email,ContactNo,UserRole,UserStatus,[Password],ConfirmPassword)Values
             (@id,@username,@email,@contactNo,@userRole,@userStatus,@password,@confirmPassword);


              Insert Into Employees(Id,[Name],EmpCode,Gender,Position,Salary) Values(@id,@name,@empCode,@gender,@position,@salary);

         Commit Transaction

     End Try

     Begin Catch
            Rollback   TRANSACTION;
     End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[spInsertUserAsStudent]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spInsertUserAsStudent]
@id uniqueidentifier,
@name nvarchar(100),
@gender int,
@deptId uniqueIdentifier,
@marks int,

@username nvarchar(50),
@email nvarchar(100),
@contactNo nvarchar(100),
@userRole int,
@userStatus int,
@password nvarchar(100),
@confirmPassword nvarchar(100)
As
Begin
 
 
     Begin Try
   
        Begin Transaction

             Insert Into Users (Id,UserName,Email,ContactNo,UserRole,UserStatus,[Password],ConfirmPassword)Values
             (@id,@username,@email,@contactNo,@userRole,@userStatus,@password,@confirmPassword);


              Insert Into Students(Id,[Name],Gender,DepartmentId,Marks) Values(@id,@name,@gender,@deptId,@marks);

         Commit Transaction

     End Try

     Begin Catch
            Rollback   TRANSACTION;
     End Catch

End





GO
/****** Object:  StoredProcedure [dbo].[spReadCourseById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadCourseById]
@id UniqueIdentifier
As
Begin
           Select C.Id,CreatedOn,CourseName,CourseCode,IsNull(D.Name ,'Department Not assigned') As DeptName,Fees,Duration_Years
           From Courses C
           Left Join Departments D
           On C.DeptId=D.Id
           Where C.Id=@id;
           
End
GO
/****** Object:  StoredProcedure [dbo].[spReadCourses]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadCourses]
As
Begin
           Select C.Id,CourseName,CourseCode,IsNull(D.Name ,'Department Not assigned') As DeptName
           From Courses C
           Left Join Departments D
           On C.DeptId=D.Id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadDepartmentById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadDepartmentById]
@id uniqueidentifier
As
Begin
        Select D.Id as DeptId,D.[Name] as DeptName,D.[Location] ,IsNull(E.Name ,'Hod-Not-assigned') As Hod
        From Departments D
        left join employees E
        on E.Id=D.HodId
        Where D.Id=@id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadDepartments]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadDepartments]
As
Begin
        Select D.Id as DeptId,D.[Name] as DeptName,D.[Location] ,IsNull(E.Name ,'Hod-Not-assigned') As Hod
        From Departments D
        left join employees E
        on E.Id=D.HodId
End
GO
/****** Object:  StoredProcedure [dbo].[spReadSemesterById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadSemesterById]
@id uniqueidentifier
As
Begin
    Select S.Id, S.CreatedOn,S.SemesterName,ISNULL(C.CourseCode,'Course-Not-Assigned') As Course
    From Semesters S
    Left Join Courses C
    On S.CourseId=C.Id
    Where S.Id=@id;

End
GO
/****** Object:  StoredProcedure [dbo].[spReadSemesters]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadSemesters]
As
Begin
    Select S.Id, S.CreatedOn,S.SemesterName,ISNULL(C.CourseCode,'Course-Not-Assigned') As Course
    From Semesters S
    Left Join Courses C
    On S.CourseId=C.Id;
End
GO
/****** Object:  StoredProcedure [dbo].[spReadStudentById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadStudentById]
@id uniqueidentifier
As
Begin                                           
        Select S.Id ,S.CreatedOn,S.[Name] ,S.Gender ,S.Marks,IsNull(D.Name ,'Department-Not-assigned') As DeptName
        From students S
        left join Departments D
        On S.DepartmentId=D.Id
        Where S.Id=@id;
End
GO
/****** Object:  StoredProcedure [dbo].[spReadStudents]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadStudents]
As
Begin
     
        Select S.Id ,S.[Name] ,S.Marks,IsNull(D.Name ,'Department-Not-assigned') As DeptName
        From students S
        left join Departments D
        On S.DepartmentId=D.Id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadSubjectById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadSubjectById]
@id uniqueidentifier
As
Begin

            Select Sb.Id,Sb. Createdon,SubjectName,SubjectCode,IsNull(SemesterName,'Semester not assigned') Semester
            From Subjects Sb
            Left Join Semesters Sm
            On Sb.SemesterId=Sm.Id
            Where Sb.Id=@id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadSubjects]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadSubjects]
As
Begin

            Select Sb.Id,SubjectName,IsNull(SemesterName,'Semester not assigned') Semester
            From Subjects Sb
            Left Join Semesters Sm
            On Sb.SemesterId=Sm.Id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUserById]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadUserById]
@id uniqueidentifier
As
Begin
        Select * From Users Where Id=@id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUserEmployeeBasicCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadUserEmployeeBasicCompact]
As
Begin
        Select U.Id,  [Name],   EmpCode,  Gender,  Salary,  email,  ContactNo 
        From Users U
        inner join Employees E
        On U.Id=E.Id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUserEmployeeCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadUserEmployeeCompact]
@id uniqueidentifier
As
Begin
        Select U.Id,U.CreatedOn,[Name],U.UserName,EmpCode,Gender,Position,Salary,email,ContactNo,UserRole,UserStatus,Attempts,[Password] From Users U
        inner join Employees E
        On U.Id=E.Id
        Where U.Id=@id
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUsers]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[spReadUsers]
As
Begin
        Select Id,UserName,Email,ContactNo From Users
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUserStudentBasicCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadUserStudentBasicCompact]
As
Begin
       Select U.Id,[Name],Email,ContactNo,Marks
        From Users U
        inner join Students S
        On U.Id=S.Id
      
End
GO
/****** Object:  StoredProcedure [dbo].[spReadUserStudentCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spReadUserStudentCompact]
@id uniqueidentifier
As
Begin
        Select U.Id,U.CreatedOn,[Name],U.UserName,Gender,Marks,Email,ContactNo,UserRole,UserStatus,Attempts,[Password] 
        From Users U
        inner join Students S
        On U.Id=S.Id
        Where U.Id=@id
End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateCourse]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  Proc [dbo].[spUpdateCourse]
@id uniqueidentifier,@fees decimal,@deptId uniqueidentifier,@years int
As
Begin
      Update Courses Set Fees=@fees,DeptId=@deptId,Duration_Years=@years
      Where Id=@id;
End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateDepartment]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spUpdateDepartment]
@deptName nvarchar(50),@hodId uniqueIdentifier
As
Begin
   Update Departments Set HodId=@hodId Where Name=@deptName
End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateSemester]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------------Update Semester----------------------------------------------------------------------------------
Create Proc [dbo].[spUpdateSemester]
@id uniqueidentifier,@name nvarchar(50),@courseId uniqueidentifier
As
Begin
      Update Semesters Set SemesterName=@name,CourseId=@courseId Where Id=@id;
End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateSubject]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[spUpdateSubject]
@id uniqueidentifier,@subCode nvarchar(30), @semesterId uniqueidentifier
As
Begin

            Update Subjects Set SubjectCode=@subCode,SemesterId=@semesterId Where Id=@id;
End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUserEmployeeCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spUpdateUserEmployeeCompact]
@name nvarchar(1000),@email nvarchar(100),@contactNo nvarchar(100),@salary decimal,@id uniqueidentifier
As
Begin

     Begin Try

             Begin Transaction

                Update Users Set Email=@email,ContactNo=@contactNo Where Id=@id
                Update Employees Set Name=@name,Salary=@salary  Where Id=@id

              Commit Transaction
     End Try

     Begin Catch
            Rollback Transaction
     End Catch

End
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUserStudentCompact]    Script Date: 04-04-2026 12:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spUpdateUserStudentCompact]
@name nvarchar(1000),@email nvarchar(100),@contactNo nvarchar(100),@deptId uniqueidentifier,@id uniqueidentifier
As
Begin

     Begin Try

             Begin Transaction

                Update Users Set Email=@email,ContactNo=@contactNo Where Id=@id
                Update Students Set Name=@name,DepartmentId=@deptId  Where Id=@id

              Commit Transaction
     End Try

     Begin Catch
            Rollback Transaction
     End Catch

End
GO
